.yax-autofix._fixed {
	position: fixed !important;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	overflow: auto;
	height: 100%;
}

.yax-autofix._fixed._bottom {
	position: absolute !important;
	bottom: 0;
}